openapi: 3.1.0

info:
  title: Cash-Track Gateway API
  version: 1.0.0
  license:
    name: Proprietary
    url: https://cash-track.app
  description: |
    The Cash-Track Gateway is a Go/FastHTTP reverse proxy that sits between the web clients and
    the PHP backend API. Every request from the browser passes through the gateway.

    ## Responsibilities

    - **Cookie management** — stores JWT access/refresh tokens in `HttpOnly` cookies; converts
      them to `Authorization: Bearer` headers before forwarding to the backend
    - **CSRF protection** — Redis-backed token validation and rotation for all state-changing
      requests made by authenticated users
    - **Captcha verification** — validates Google reCAPTCHA v3 challenge on auth endpoints
    - **Transparent token refresh** — intercepts `401` responses, silently refreshes the token
      pair, and retries the original request
    - **CORS** — answers preflight `OPTIONS` requests directly against the
      `CORS_ALLOWED_ORIGINS` allow-list, and decorates actual requests with the
      appropriate `Access-Control-*` response headers
    - **Path rewriting** — strips the `/api` prefix and adds a `/v1` prefix before forwarding
      to the backend

    ## Path Rewriting

    All `/api/*` paths are forwarded to the backend with the `/api` prefix removed and a `/v1`
    prefix added:

    ```
    Gateway  /api/wallets  →  Backend  /v1/wallets
    Gateway  /api/auth/login  →  Backend  /v1/auth/login
    ```

    ## Authentication

    The gateway uses **cookie-based auth** for browsers. Clients do not manage tokens directly —
    they are stored in cookies set by the gateway on successful login.

    Authenticated requests are detected by the presence of the `cshtrka` cookie. The gateway
    converts it to `Authorization: Bearer <token>` before forwarding.

    ## CSRF Protection

    For `POST`, `PUT`, `PATCH`, and `DELETE` requests by logged-in users the gateway validates
    a CSRF token stored in the `cshtrkcsrf` cookie against a Redis-backed store. On each
    successful mutating request the token is rotated. Call `GET /csrf` to obtain the initial token.

    ## Captcha

    Auth endpoints (`/api/auth/login`, `/api/auth/register`, `/api/auth/provider/google`,
    `/api/auth/login/passkey`) require the client to send a Google reCAPTCHA v3 token in the
    `X-Ct-Captcha-Challenge` request header. When `CAPTCHA_SECRET` is unset the check is skipped.

servers:
  - url: https://gateway.cash-track.app
    description: Production
  - url: https://gateway.dev-cash-track.app
    description: Local development

tags:
  - name: Health
    description: Liveness and readiness probes
  - name: CSRF
    description: CSRF token management
  - name: Auth
    description: Login, registration, and logout flows handled by the gateway
  - name: Proxy
    description: Generic reverse-proxy pass-through to the backend API

paths:

  # ===========================================================================
  # HEALTH
  # ===========================================================================
  /live:
    get:
      operationId: liveness
      summary: Liveness probe
      description: |
        Always returns `200 OK` as long as the gateway process is running.
        Used by Kubernetes liveness checks.
      tags: [Health]
      security: []
      responses:
        "200":
          description: Gateway is alive
          headers:
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
          content:
            text/plain:
              schema:
                type: string
                example: ok

  /ready:
    get:
      operationId: readiness
      summary: Readiness probe
      description: |
        Checks whether the backend PHP API is reachable by calling its own healthcheck.
        Returns `200` when the backend responds successfully, `500` otherwise.
        Used by Kubernetes readiness checks.
      tags: [Health]
      security: []
      responses:
        "200":
          description: Gateway and backend are ready
          headers:
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
          content:
            text/plain:
              schema:
                type: string
                example: ok
        "500":
          description: Backend is unreachable
          headers:
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
          content:
            text/plain:
              schema:
                type: string
                example: "[api] nok"

  # ===========================================================================
  # CSRF
  # ===========================================================================
  /csrf:
    get:
      operationId: csrfRotate
      summary: Rotate CSRF token
      description: |
        Generates a new CSRF token for the authenticated session, stores it in Redis
        (`CT:csrf:{userId}:{iat}`, TTL 10 min), and delivers it via the `cshtrkcsrf` cookie.

        Call this once after login to bootstrap the CSRF flow. Subsequent tokens are rotated
        automatically after each mutating request.

        Returns `401` when the user is not logged in (no valid `cshtrka` cookie).
      tags: [CSRF]
      security:
        - cookieAuth: []
      responses:
        "200":
          description: New CSRF token issued
          headers:
            Set-Cookie:
              description: "`cshtrkcsrf=<uuid-v7>; Path=/; Max-Age=600; Domain=<gateway-domain>`"
              schema:
                type: string
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: |
            The gateway could not issue a new token (Redis unreachable or write failure).
            The response has no body. The previous `cshtrkcsrf` cookie is left untouched, so
            retrying is safe.
          headers:
            X-Ct-Trace-Id:
              $ref: "#/components/headers/TraceId"
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"

  # ===========================================================================
  # AUTH — gateway-handled flows
  # ===========================================================================
  /api/auth/login:
    post:
      operationId: authLogin
      summary: Login with email and password
      description: |
        **Gateway-handled.** The request is:
        1. Validated against Google reCAPTCHA v3 (`X-Ct-Captcha-Challenge` header)
        2. Forwarded to the backend `POST /v1/auth/login`
        3. On success: JWT tokens are stored in `cshtrka` / `cshtrkr` cookies and a
           redirect URL pointing to the web app is returned

        The raw backend token payload is **not** forwarded to the client; the gateway
        replaces it with the `redirectUrl` JSON response.
      tags: [Auth]
      security: []
      parameters:
        - $ref: "#/components/parameters/CaptchaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful — auth cookies set, redirect URL returned
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "400":
          $ref: "#/components/responses/CaptchaError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/auth/register:
    post:
      operationId: authRegister
      summary: Register a new account
      description: |
        **Gateway-handled.** The request is:
        1. Validated against Google reCAPTCHA v3
        2. Forwarded to the backend `POST /v1/auth/register`
        3. On success: auth cookies set, redirect URL returned

        See `POST /api/auth/login` for the full flow description.
      tags: [Auth]
      security: []
      parameters:
        - $ref: "#/components/parameters/CaptchaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200":
          description: Registration successful — auth cookies set, redirect URL returned
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "400":
          $ref: "#/components/responses/CaptchaError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/auth/provider/google:
    post:
      operationId: authGoogle
      summary: Login or register via Google OAuth
      description: |
        **Gateway-handled.** Accepts a Google ID token, verifies captcha, forwards to the backend,
        and sets auth cookies on success.
      tags: [Auth]
      security: []
      parameters:
        - $ref: "#/components/parameters/CaptchaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Google ID token from the client-side Google Sign-In SDK
      responses:
        "200":
          description: Authenticated via Google — auth cookies set, redirect URL returned
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "400":
          $ref: "#/components/responses/CaptchaError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/auth/login/passkey:
    post:
      operationId: authPasskeyLogin
      summary: Complete WebAuthn passkey login
      description: |
        **Gateway-handled.** Verifies captcha, forwards the WebAuthn assertion to the backend,
        and sets auth cookies on success.
      tags: [Auth]
      security: []
      parameters:
        - $ref: "#/components/parameters/CaptchaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyLoginRequest"
      responses:
        "200":
          description: Authenticated via passkey — auth cookies set, redirect URL returned
          headers:
            Set-Cookie:
              $ref: "#/components/headers/AuthCookies"
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "400":
          $ref: "#/components/responses/CaptchaError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/auth/login/passkey/init:
    get:
      operationId: authPasskeyLoginInit
      summary: Initialise WebAuthn login challenge
      description: |
        **Gateway-handled (captcha only).** Verifies the reCAPTCHA challenge then proxies the
        request to the backend `GET /v1/auth/login/passkey/init` which returns
        `PublicKeyCredentialRequestOptions`. The backend response is forwarded as-is.
      tags: [Auth]
      security: []
      parameters:
        - $ref: "#/components/parameters/CaptchaHeader"
      responses:
        "200":
          description: WebAuthn challenge options (forwarded from backend)
          headers:
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                type: object
                description: Raw `PublicKeyCredentialRequestOptions` JSON from the backend
        "400":
          $ref: "#/components/responses/CaptchaError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/auth/logout:
    post:
      operationId: authLogout
      summary: Logout and clear auth cookies
      description: |
        **Gateway-handled.** The flow:
        1. Reads the refresh token from the `cshtrkr` cookie
        2. Forwards `POST /v1/auth/logout` to the backend with the refresh token in the request body
        3. **Always** clears the `cshtrka` and `cshtrkr` cookies regardless of the backend response
        4. Returns a redirect URL pointing to the marketing website

        No `Authorization` header is required — the gateway extracts the token from the cookie.
        The gateway does **not** return `401` on unauthenticated calls — cookies are cleared and
        the redirect is returned in all cases.
      tags: [Auth]
      security:
        - cookieAuth: []
        - {}
      responses:
        "200":
          description: |
            Logged out — auth cookies cleared, redirect URL returned. This is always the response
            regardless of whether the user was authenticated or what the backend returned.
          headers:
            Set-Cookie:
              description: |
                Both auth cookies are deleted:
                `cshtrka=; Expires=Thu, 01 Jan 1970 00:00:00 GMT`
                `cshtrkr=; Expires=Thu, 01 Jan 1970 00:00:00 GMT`
              schema:
                type: string
            X-Ct-Gateway-Version:
              $ref: "#/components/headers/GatewayVersion"
            X-Ct-Gateway-Sha:
              $ref: "#/components/headers/GatewaySha"
            X-Ct-Api-Version:
              $ref: "#/components/headers/ApiVersion"
            X-Ct-Api-Sha:
              $ref: "#/components/headers/ApiSha"
            Strict-Transport-Security:
              $ref: "#/components/headers/StrictTransportSecurity"
            X-Content-Type-Options:
              $ref: "#/components/headers/XContentTypeOptions"
            X-Frame-Options:
              $ref: "#/components/headers/XFrameOptions"
            Referrer-Policy:
              $ref: "#/components/headers/ReferrerPolicy"
            Content-Security-Policy:
              $ref: "#/components/headers/ContentSecurityPolicy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedirectResponse"
        "417":
          $ref: "#/components/responses/CsrfError"

  # ===========================================================================
  # PROXY — generic pass-through
  # ===========================================================================
  /api/{path}:
    parameters:
      - name: path
        in: path
        required: true
        description: Any backend API path (everything after `/api/`)
        schema:
          type: string
    get:
      operationId: proxyGet
      summary: Proxy GET request to backend
      description: |
        Forwards the request to the backend API after stripping the `/api` prefix and
        adding a `/v1` prefix. If the user is logged in (`cshtrka` cookie present) the gateway attaches
        `Authorization: Bearer <token>` before forwarding.

        **Transparent token refresh:** if the backend returns `401` and a refresh token
        cookie (`cshtrkr`) exists, the gateway automatically refreshes the token pair,
        updates the cookies, and retries the request — all transparent to the client.
      tags: [Proxy]
      security:
        - cookieAuth: []
        - {}
      responses:
        "200":
          $ref: "#/components/responses/ProxySuccess"
        "400":
          $ref: "#/components/responses/BackendError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/BackendError"
        "404":
          $ref: "#/components/responses/BackendError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "429":
          $ref: "#/components/responses/BackendError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    post:
      operationId: proxyPost
      summary: Proxy POST request to backend
      description: |
        Forwards the request to the backend API. Authenticated requests require a valid
        CSRF token in the `cshtrkcsrf` cookie (when CSRF protection is enabled).
        After a successful response the CSRF token is rotated.
      tags: [Proxy]
      security:
        - cookieAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/CsrfCookie"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          $ref: "#/components/responses/ProxySuccess"
        "400":
          $ref: "#/components/responses/BackendError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/BackendError"
        "404":
          $ref: "#/components/responses/BackendError"
        "417":
          $ref: "#/components/responses/CsrfError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "429":
          $ref: "#/components/responses/BackendError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    put:
      operationId: proxyPut
      summary: Proxy PUT request to backend
      description: Forwards PUT request. CSRF token required for authenticated users.
      tags: [Proxy]
      security:
        - cookieAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/CsrfCookie"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          $ref: "#/components/responses/ProxySuccess"
        "400":
          $ref: "#/components/responses/BackendError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BackendError"
        "417":
          $ref: "#/components/responses/CsrfError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    patch:
      operationId: proxyPatch
      summary: Proxy PATCH request to backend
      description: Forwards PATCH request. CSRF token required for authenticated users.
      tags: [Proxy]
      security:
        - cookieAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/CsrfCookie"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          $ref: "#/components/responses/ProxySuccess"
        "400":
          $ref: "#/components/responses/BackendError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BackendError"
        "417":
          $ref: "#/components/responses/CsrfError"
        "422":
          $ref: "#/components/responses/BackendValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      operationId: proxyDelete
      summary: Proxy DELETE request to backend
      description: Forwards DELETE request. CSRF token required for authenticated users.
      tags: [Proxy]
      security:
        - cookieAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/CsrfCookie"
      responses:
        "200":
          $ref: "#/components/responses/ProxySuccess"
        "400":
          $ref: "#/components/responses/BackendError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BackendError"
        "417":
          $ref: "#/components/responses/CsrfError"
        "500":
          $ref: "#/components/responses/InternalError"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    options:
      operationId: proxyOptions
      summary: CORS preflight
      description: |
        The gateway answers a genuine preflight request directly — routing, CSRF, captcha
        and the backend API are not invoked. A request is a genuine preflight when it is
        `OPTIONS` **and** carries `Access-Control-Request-Method`; an `OPTIONS` request
        without that header is not a preflight and is forwarded to the backend like any
        other request (see `GET`/`POST`/etc. on this path).

        Always responds `204` with an empty body, decided purely by whether `Origin` is in
        `CORS_ALLOWED_ORIGINS`:

        - Allowed origin → `204` with the full CORS header set below, including
          `Access-Control-Allow-Headers` reflecting whatever the browser sent in
          `Access-Control-Request-Headers` (dynamic reflection, not a fixed list).
        - Disallowed or missing origin → `204` with none of the `Access-Control-*` headers
          and no `Vary`.
      tags: [Proxy]
      security: []
      responses:
        "204":
          description: |
            Preflight answered directly by the gateway. Header set below is present only
            when `Origin` is in `CORS_ALLOWED_ORIGINS`; otherwise the response carries none
            of them.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Vary:
              description: "`Origin`, then `Access-Control-Request-Headers` appended."
              schema:
                type: string
                example: "Origin, Access-Control-Request-Headers"
            Access-Control-Allow-Credentials:
              schema:
                type: string
                example: "true"
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
            Access-Control-Allow-Headers:
              description: Echoes the request's `Access-Control-Request-Headers` value verbatim.
              schema:
                type: string
            Access-Control-Max-Age:
              schema:
                type: string
                example: "600"

# =============================================================================
# COMPONENTS
# =============================================================================
components:

  # ---------------------------------------------------------------------------
  # SECURITY SCHEMES
  # ---------------------------------------------------------------------------
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: cshtrka
      description: |
        JWT access token stored in the `cshtrka` HttpOnly cookie. Set automatically by the gateway
        on successful login. The gateway converts it to an `Authorization: Bearer` header before
        forwarding requests to the backend — clients never manage Bearer tokens directly.

  # ---------------------------------------------------------------------------
  # PARAMETERS
  # ---------------------------------------------------------------------------
  parameters:
    CaptchaHeader:
      name: X-Ct-Captcha-Challenge
      in: header
      required: false
      description: |
        Google reCAPTCHA v3 token obtained client-side via `grecaptcha.execute()`.
        Required on auth endpoints when `CAPTCHA_SECRET` is configured on the gateway.
        Omit only in environments where captcha is disabled.
      schema:
        type: string

    CsrfCookie:
      name: cshtrkcsrf
      in: cookie
      required: false
      description: |
        CSRF token UUID. Required for authenticated `POST`, `PUT`, `PATCH`, and `DELETE`
        requests when CSRF protection is enabled. Obtain the initial token via `GET /csrf`;
        subsequent tokens are rotated automatically after each mutating request.
      schema:
        type: string
        format: uuid

  # ---------------------------------------------------------------------------
  # HEADERS
  # ---------------------------------------------------------------------------
  headers:
    AuthCookies:
      description: |
        Two `Set-Cookie` headers are emitted on successful authentication. Both cookies share
        the same expiry — `refreshTokenExpiredAt` from the backend auth response:
        - `cshtrka=<access-token>; Path=/; Expires=<refreshTokenExpiredAt>; Domain=<gateway-domain>[; Secure]`
        - `cshtrkr=<refresh-token>; Path=/; Expires=<refreshTokenExpiredAt>; Domain=<gateway-domain>[; Secure]`

        The `Secure` attribute is added when `GATEWAY_URL` uses HTTPS.
      schema:
        type: string

    TraceId:
      description: OpenTelemetry trace ID for the request, useful for correlating logs and traces.
      schema:
        type: string
        example: "4bf92f3577b34da6a3ce929d0e0e4736"

    GatewayVersion:
      description: |
        Git tag the running gateway binary was built from (`GIT_TAG` build arg). Present on
        every response the gateway returns. Omitted entirely when the gateway was built without
        a tag (e.g. a local `make run` build).
      schema:
        type: string
        example: "v1.4.2"

    GatewaySha:
      description: |
        Git commit SHA the running gateway binary was built from (`GIT_COMMIT` build arg).
        Present on every response the gateway returns. Omitted entirely when the gateway was
        built without a commit SHA (e.g. a local `make run` build).
      schema:
        type: string
        example: "a1b2c3d4e5f6"

    ApiVersion:
      description: |
        Git tag the backend PHP API image was built from. Set by the backend, not the gateway —
        the gateway only relays it unchanged on responses that actually reached the API. Absent
        when no backend call occurred (e.g. a captcha rejection, a CSRF rejection, or a gateway
        connectivity failure) and absent when the API image predates this header.
      schema:
        type: string
        example: "v3.1.0"

    ApiSha:
      description: |
        Git commit SHA the backend PHP API image was built from. Set by the backend, not the
        gateway — the gateway only relays it unchanged on responses that actually reached the
        API. Absent when no backend call occurred (e.g. a captcha rejection, a CSRF rejection,
        or a gateway connectivity failure) and absent when the API image predates this header.
      schema:
        type: string
        example: "9f8e7d6c5b4a"

    StrictTransportSecurity:
      description: |
        HSTS policy, set unconditionally by the gateway on every response except `/live` and
        `/ready`. Value is fixed, not configurable.
      schema:
        type: string
        example: "max-age=31536000; includeSubDomains"

    XContentTypeOptions:
      description: Disables MIME-type sniffing. Fixed value, absent on `/live` and `/ready`.
      schema:
        type: string
        example: "nosniff"

    XFrameOptions:
      description: |
        Legacy clickjacking guard, kept alongside the CSP `frame-ancestors` directive.
        Fixed value, absent on `/live` and `/ready`.
      schema:
        type: string
        example: "DENY"

    ReferrerPolicy:
      description: Fixed value, absent on `/live` and `/ready`.
      schema:
        type: string
        example: "strict-origin-when-cross-origin"

    ContentSecurityPolicy:
      description: |
        API-appropriate CSP for a JSON-only service — no script/style execution, no framing.
        Fixed value, absent on `/live` and `/ready`.
      schema:
        type: string
        example: "default-src 'none'; frame-ancestors 'none'"

  # ---------------------------------------------------------------------------
  # SCHEMAS
  # ---------------------------------------------------------------------------
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 6

    RegisterRequest:
      type: object
      required: [name, nickName, email, password, passwordConfirmation, locale]
      properties:
        name:
          type: string
          minLength: 1
        lastName:
          type: string
        nickName:
          type: string
          minLength: 3
          pattern: "^[a-zA-Z0-9_]+$"
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 6
        passwordConfirmation:
          type: string
          format: password
          minLength: 6
        locale:
          type: string
          example: en

    PasskeyLoginRequest:
      type: object
      required: [challenge, data]
      properties:
        challenge:
          type: string
          description: Challenge string from `GET /api/auth/login/passkey/init`
        data:
          type: string
          description: JSON-stringified `PublicKeyCredential` assertion from the authenticator

    RedirectResponse:
      type: object
      description: |
        Returned by the gateway after login and logout flows instead of the raw backend token
        response. The client should navigate to `redirectUrl`.
      required: [redirectUrl]
      properties:
        redirectUrl:
          type: string
          format: uri
          description: |
            After login: URL of the web application (`WEBAPP_URL`).
            After logout: URL of the marketing website (`WEBSITE_URL`).
          example: https://my.cash-track.app

    Error:
      type: object
      description: Standard gateway error envelope.
      required: [message]
      properties:
        message:
          type: string
          description: Human-readable error description
          example: Unexpected error happened. Please try again later.
        error:
          type: string
          description: Internal error detail (may be empty)

    ValidationError:
      type: object
      description: Field-level validation errors forwarded from the backend (HTTP 422).
      required: [errors]
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["Must be a valid email address"]
            password: ["Must be at least 6 characters"]

  # ---------------------------------------------------------------------------
  # RESPONSES
  # ---------------------------------------------------------------------------
  responses:
    ProxySuccess:
      description: |
        Successful response proxied from the backend API. Body and headers are forwarded
        as-is (status code, JSON body, Content-Type, rate-limit headers, etc.).
      headers:
        X-Ct-Trace-Id:
          $ref: "#/components/headers/TraceId"
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        X-Ct-Api-Version:
          $ref: "#/components/headers/ApiVersion"
        X-Ct-Api-Sha:
          $ref: "#/components/headers/ApiSha"
        Access-Control-Allow-Origin:
          description: Present only when the request's `Origin` is in `CORS_ALLOWED_ORIGINS`.
          schema:
            type: string
        Vary:
          description: "`Origin`, present alongside Access-Control-Allow-Origin."
          schema:
            type: string
            example: "Origin"
        Access-Control-Allow-Credentials:
          schema:
            type: string
            example: "true"
        Access-Control-Expose-Headers:
          description: Fixed list, set by the gateway whenever Access-Control-Allow-Origin is present.
          schema:
            type: string
            example: "X-Ct-Trace-Id,X-Ct-Gateway-Version,X-Ct-Gateway-Sha,X-Ct-Api-Version,X-Ct-Api-Sha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
            description: Backend response body (varies per endpoint — see the Backend API spec)

    Unauthorized:
      description: |
        Not authenticated. Either the `cshtrka` cookie is missing/expired and the automatic
        token refresh also failed (or no refresh token was present), or CSRF validation failed
        with a missing user context.

        This response is shared by two different call sites: on `/api/*` proxy routes it is
        the backend's own `401` relayed unchanged (so `X-Ct-Api-Version`/`X-Ct-Api-Sha` are
        present when the API sent them); on `GET /csrf` it is a local cookie check the gateway
        performs itself without contacting the backend (so those two headers are always absent
        there).
      headers:
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        X-Ct-Api-Version:
          $ref: "#/components/headers/ApiVersion"
        X-Ct-Api-Sha:
          $ref: "#/components/headers/ApiSha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: Unauthorized.
            error: ""

    CaptchaError:
      description: |
        Google reCAPTCHA v3 validation failed. The client should refresh the captcha token
        and retry the request.
      headers:
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: Captcha validation unsuccessful. Please try again.
            error: ""

    CsrfError:
      description: |
        CSRF token validation failed (HTTP 417 Expectation Failed). The `cshtrkcsrf` cookie
        is missing, expired, or does not match the Redis-stored token. Call `GET /csrf` to
        obtain a fresh token.
      headers:
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: CSRF validation failed. Please refresh and try again.
            error: ""

    BackendError:
      description: Error response forwarded from the backend API.
      headers:
        X-Ct-Trace-Id:
          $ref: "#/components/headers/TraceId"
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        X-Ct-Api-Version:
          $ref: "#/components/headers/ApiVersion"
        X-Ct-Api-Sha:
          $ref: "#/components/headers/ApiSha"
        Retry-After:
          description: Present on 429 responses
          schema:
            type: integer
        X-RateLimit:
          schema:
            type: string
        X-RateLimit-Remaining:
          schema:
            type: string
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    BackendValidationError:
      description: Validation error forwarded from the backend API (HTTP 422).
      headers:
        X-Ct-Trace-Id:
          $ref: "#/components/headers/TraceId"
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        X-Ct-Api-Version:
          $ref: "#/components/headers/ApiVersion"
        X-Ct-Api-Sha:
          $ref: "#/components/headers/ApiSha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"

    InternalError:
      description: |
        HTTP 500. Two distinct origins share this status. Use the `X-Ct-Api-*` headers to
        tell them apart: they are set by the backend and only ever relayed by the gateway, so
        their presence means the request reached the API.

        1. **Relayed from the backend API.** The gateway forwards the upstream status, body and
           headers verbatim, exactly as it does for `400`/`403`/`404`/`422`/`429`. On the proxy
           routes this is the common case. `X-Ct-Api-Version` / `X-Ct-Api-Sha` are **present**
           (unless the backend image predates them).
        2. **Captcha service failure**, on the captcha-gated auth routes only. The gateway could
           not get a usable answer from reCAPTCHA and rejected the request before forwarding.
           No `X-Ct-Api-*` headers.

        A background CSRF token rotation failure after a successful mutating request does
        **not** produce a `500`: the gateway logs it and leaves the already-written response
        untouched, so the client only notices on its *next* request via `GET /csrf`'s own `417`/
        recovery flow.

        A gateway failure to *reach* the backend is reported as `502` (see `BadGateway`) or,
        while the circuit breaker is open, `503` (see `ServiceUnavailable`) — never as `500`.
      headers:
        X-Ct-Trace-Id:
          $ref: "#/components/headers/TraceId"
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        X-Ct-Api-Version:
          description: |
            Present when the response originated from the backend (origin 1 above),
            absent on a captcha failure (origin 2). See `#/components/headers/ApiVersion`.
          schema:
            type: string
            example: "v3.1.0"
        X-Ct-Api-Sha:
          description: |
            Present when the response originated from the backend (origin 1 above),
            absent on a captcha failure (origin 2). See `#/components/headers/ApiSha`.
          schema:
            type: string
            example: "9f8e7d6c5b4a"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: Unexpected response from captcha validation service. Please try again later.
            error: "connection refused"

    BadGateway:
      description: |
        The backend API returned an unexpected status or was unreachable. The gateway
        returns `502` when it cannot process the backend response.
      headers:
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: Unexpected error happened. Please try again later.
            error: ""

    ServiceUnavailable:
      description: |
        HTTP 503. Two distinct origins share this status:

        1. **Circuit breaker open.** Recent calls to the backend API have failed at the
           transport level (timeout, connection refused, broken pipe — never a plain HTTP error
           status), so the gateway rejects requests immediately instead of adding load to an
           already-failing backend. The body is the gateway's standard JSON error shape and
           `Retry-After` gives the number of seconds until the breaker allows another probe.
           The `error` field is one of two strings, depending on which call the open breaker
           rejected: `"API request error: circuit breaker is open"` for the initial forward, or
           `"API request with fresh token error: circuit breaker is open"` for the retry issued
           right after a successful access-token refresh. Both mean the same thing — the breaker
           is open — and share the same `Retry-After` semantics; only the wrapping differs.
        2. **Transient token-refresh failure.** The backend returned `401` for an expired access
           token and the gateway's attempt to silently refresh it hit a transport error or
           unexpected status. The session is preserved — auth cookies are left untouched — so
           the client can safely retry the same request. The response has an **empty body** and
           **no** `Retry-After` header.
      headers:
        X-Ct-Gateway-Version:
          $ref: "#/components/headers/GatewayVersion"
        X-Ct-Gateway-Sha:
          $ref: "#/components/headers/GatewaySha"
        Retry-After:
          description: Present only on the circuit-breaker origin (1 above).
          schema:
            type: integer
            example: 30
        Strict-Transport-Security:
          $ref: "#/components/headers/StrictTransportSecurity"
        X-Content-Type-Options:
          $ref: "#/components/headers/XContentTypeOptions"
        X-Frame-Options:
          $ref: "#/components/headers/XFrameOptions"
        Referrer-Policy:
          $ref: "#/components/headers/ReferrerPolicy"
        Content-Security-Policy:
          $ref: "#/components/headers/ContentSecurityPolicy"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            message: Unexpected error happened. Please try again later.
            # Initial-forward wrapping shown here; see the description above for the
            # equally-valid post-token-refresh-retry wrapping of the same origin.
            error: "API request error: circuit breaker is open"

# =============================================================================
# GLOBAL SECURITY
# =============================================================================
security:
  - cookieAuth: []
